<!--
    pied de page du document.
-->
<br><br><br>
<section class="footer container">
    <header class="text-center"> 
        <h2>
            Nos potentiels partenaires
        </h2>
        <ul class="list-inline">
            <li>
                <a href="#">
                    <img class="partner-logo" src="img/partners/orangemoney.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="partner-logo" src="img/partners/MoMo.jpg" alt="Facebook" title="Facebook">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="partner-logo" src="img/social-icons/google.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="partner-logo" src="img/social-icons/pinterest.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img  class="partner-logo" src="img/social-icons/skype.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="partner-logo" src="img/social-icons/youtube.png">
                </a>
            </li>
        </ul>
    </header>
    <div class="col-sm-12">
        <div class="col-sm-3">
            <h2>
                <img class="logo" src="img/logo/logo.png" alt="">
            </h2>
        </div>
        <div class="col-sm-3">
            <h3>Produits</h3>
            <ul class="col-sm-4">
                <li>Contacts</li>
                <li>Realisations</li>
                <li>Services</li>
                <li>Produits</li>
                <li>Divers</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h3>Services</h3>
            <ul>
                <li>Panneaux Solaires</li>
                <li>Lampadaires Solaires</li>
                <li>Forages</li>
                <li>Installatin Electrique</li>
                <li>Maintenances</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h3>Newletters</h3>
            <h5>
                Sign up now to our newsletter and you'll get a free chapter of the eBook directly in your email:
            </h5>
            <div class="input-group"> 
                <input type="email" class="form-control" placeholder="Your email address ...">
                <span class="input-group-btn"> 
                    <button class="btn footer-subcribe-button" type="button"> Subscribe </button> 
                </span> 
            </div><!-- /input-group -->
        </div>
    </div>    
    <footer class="col-sm-12"> 
        <hr class="col-sm-12" style="border: .1px solid #eee;">
        <ul class="list-inline col-sm-6">
            <li class="">Contacts</li>
            <li class="footer-menu-item">Realisations</li>
            <li class="footer-menu-item">Services</li>
            <li class="footer-menu-item">Produits</li>
            <li class="footer-menu-item">Divers</li>
        </ul>
        <ul class="list-inline col-sm-6">
            <li>Join us in </li>
            <li>
                <a href="#">
                    <img class="social-network-icon" src="img/social-icons/4sq.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="social-network-icon" src="img/social-icons/facebook.png" alt="Facebook" title="Facebook">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="social-network-icon" src="img/social-icons/google.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="social-network-icon" src="img/social-icons/pinterest.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img  class="social-network-icon" src="img/social-icons/skype.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="social-network-icon" src="img/social-icons/youtube.png">
                </a>
            </li>
        </ul>
        <hr class="col-sm-12">
        <h6>&COPY;2017 OBS International Company All rights reserved <span style="float: right">Site con&ccedil;u par <a href="#">SASSIRE GROUP Sarl</a> </span></h6>
    </footer>
    <br><br>
</section>
<br><br><br>