<!--
    pied de page du document.
-->

<div class="footer col-sm-12">
    <header class="text-center"><br>
        <h2 class="footer-partner">
            Nos partenaires
        </h2><br>
        <ul class="list-inline">
            <li>
                <a href="#">
                    <img class="partner-logo" src="img/partners/partner (1).png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="partner-logo" src="img/partners/partner (2).png" alt="Facebook" title="Facebook">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="partner-logo" src="img/partners/partner (3).png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="partner-logo" src="img/partners/partner (4).png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img  class="partner-logo" src="img/partners/partner (5).png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="partner-logo" src="img/partners/partner (6).png">
                </a>
            </li>
        </ul>
    </header>
    <div class="col-sm-12"> <br>
        <div class="col-sm-3">
            <h2>
                <img class="logo" src="img/logo/logo.png" alt="">
            </h2>
        </div>
        <div class="col-sm-3 footer-services-item">
            <h3 class="footer-column-title">Produits</h3>
            <ul class="col-sm-4">
                <li>Realisations</li>
                <li>Services</li>
                <li>Produits</li>
                <li>Divers</li>
            </ul>
        </div>
        <div class="col-sm-3  footer-services-item">
            <h3 class="footer-column-title">Services</h3>
            <ul>
                <li>Panneaux Solaires</li>
                <li>Lampadaires Solaires</li>
                <li>Forages</li>
                <li>Installatin Electrique</li>
                <li>Maintenances</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h3 class="footer-column-title">Newletters</h3>
            <h5 class="footer-column-description">
               Recevez aussi des notifications sur nos nouveaux produits et nos nouveaux services.
            </h5>
            <div class="input-group"> 
                <input type="email" class="form-control" placeholder="Votre adresse email ...">
                <span class="input-group-btn"> 
                    <button class="btn footer-subcribe-button" type="button"> M'inscrire </button> 
                </span> 
            </div><!-- /input-group -->
        </div>
    </div>    
    <footer class="col-sm-12"> 
        <hr class="col-sm-12" style="border: .1px solid #eee;">
        <ul class="list-inline col-sm-6">
            <li class="footer-menu-item-text">Contacts</li>
            <li class="footer-menu-item footer-menu-item-text">Realisations</li>
            <li class="footer-menu-item footer-menu-item-text">Services</li>
            <li class="footer-menu-item footer-menu-item-text">Produits</li>
            <li class="footer-menu-item footer-menu-item-text">Divers</li>
        </ul>
        <ul class="list-inline col-sm-6">
            <li class="footer-menu-item-text">Join us in </li>
            <li>
                <a href="#">
                    <img class="social-network-icon" src="img/social-icons/4sq.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="social-network-icon" src="img/social-icons/facebook.png" alt="Facebook" title="Facebook">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="social-network-icon" src="img/social-icons/google.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="social-network-icon" src="img/social-icons/pinterest.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img  class="social-network-icon" src="img/social-icons/skype.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="social-network-icon" src="img/social-icons/youtube.png">
                </a>
            </li>
        </ul>
        <hr class="col-sm-12">
        <h6 class="footer-menu-item-text">&COPY;2018 OBS International Company All rights reserved <span style="float: right">Site con&ccedil;u par <a href="#">SASSIRE GROUP Sarl</a> </span></h6>
    </footer>
</div>