<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container" id="services">
    <br><br><br>
    <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
            <div class="text-center col-sm-8 col-sm-offset-2 services" style="background-color: white">
                <h2 class="menu-item">Services offerts</h2>
                <p class="service-description">
                    <span class="service-offer-item"> OBSIC</span> se déploie dans le domaine de l’<span class="service-offer-item"> Electricité en général</span> (devis, installations électriques, réhabilitation et dépannage), du secteur des <span class="service-offer-item"> Energies Renouvelables </span> (étude, fourniture, installation et maintenance des systèmes d’électrifications par énergie solaire et éolienne), de l’<span class="service-offer-item"> Hydraulique</span> (Système d’adduction d’eau, d’irrigation, d’abreuvage par les pompes solaires)  et des <span class="service-offer-item"> Dépannages Divers</span> à travers le Cameroun et l’Afrique.
                </p>
            </div>
        </div> 
    </div>
</div>
<div class="container">
    <br><br><br>
    <ul class="galerie">
        <li class="col-sm-3 service-item text-center">
            <a href="#">
                <img class="img-responsive service-item-img" src=img/service/image1.jpg alt="">
            </a>
            <header>
                <h6 class="text-info text-left">Installation des panneaux solaires</h6>
            </header>
            <p class=text-left>
                Ayez votre énergie autonome 100% solaire (sans facture et sans coupure)
            </p>
            <footer>
                <h5 class="text-success">Footer</h5>
            </footer>
        </li>
        <li class="col-sm-3 service-item">
            <a href="#">
                <img class="img-responsive service-item-img"  src=img/service/image2.jpg alt="" >
            </a>
            <header>
                <h6 class="text-info text-left">Electricité en Général</h6>
            </header>
            <p class=text-left>
                Faites vos devis, vos installations, la réhabilitation et le dépannage chez OBSIC.
            </p>
            <footer>
                <h5 class="text-success">Pied de la page.</h5>
            </footer>
        </li>
        <li class="col-sm-3 service-item">
            <a href="#">
                <img class="img-responsive service-item-img"  src=img/service/image3.jpg alt="">
            </a>
            <header>
                <h6 class="text-info text-left">Electricité en Général</h6>
            </header>
            <p class=text-left>
                Faites vos devis, vos installations, la réhabilitation et le dépannage chez OBSIC.
            </p>
            <footer>
                <h5 class="text-success">Pied de la page.</h5>
            </footer>
        </li>
        <li class="col-sm-3 service-item">
            <a href="#">
                <img class="img-responsive service-item-img"  src=img/service/image3.jpg alt="">
            </a>
            <header>
                <h6 class="text-info text-left">Electricité en Général</h6>
            </header>
            <p class=text-left>
                Faites vos devis, vos installations, la réhabilitation et le dépannage chez OBSIC.
            </p>
            <footer>
                <h5 class="text-success">Pied de la page.</h5>
            </footer>
        </li>
    </ul>
</div>