<div class="col-sm-12 " style="background-color: white">
<!--    <div class="col-sm-3"><br><br><br>
        <aside class="right-sidebar">                        
            <div class="widget">
                <div>
                    <h5 class="widgetheading">Statistiques</h5>
                    <hr>
                </div>             
                <div>
                    <ul class="cat">
                        <li><i class="icon-angle-right"></i><a href="#">Visiteurs</a><span> (100)</span></li>
                        <li><i class="icon-angle-right"></i><a href="#">R&eacute;alisations</a><span> (11)</span></li>
                    </ul> 
                </div>   
            </div>                
        </aside>

        <aside class="right-sidebar-2">                        
            <div class="widget">
                <h5 class="widgetheading">Les nouveaux produits disponibles</h5>
                <hr>               
            </div>
            <div class="widget">   
                <ul class="tags">
                    <li><a href="#">Panneaux solaires</a></li>
                    <li><a href="#">Convertisseurs</a></li>
                    <li><a href="#">Contr&Ocirc;leurs de charge</a></li>
                    <li><a href="#">Batteries</a></li>
                    <li><a href="#">Pompes solaires immergées</a></li>
                    <li><a href="#">Pompes solaires des surfaces</a></li>
                    <li><a href="#">Lumières led</a></li>
                    <li><a href="#">Ampoules led</a></li>
                    <li><a href="#">C&acirc;bles</a></li>
                    <li><a href="#">Interrupteurs</a></li>
                </ul>
                <hr>  
            </div>
        </aside>


    </div>-->
    <div class="col-sm-12 center-block" >
        <div id="services" class="container">
            <br><br><br>
            <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="row">
                    <div class="text-center col-sm-12 services">
                        <h2 class="service-title">Services offerts</h2>
                        <p class="service-description">
                            <span class="service-offer-item"> OBSIC</span> se déploie dans le domaine de l’<span class="service-offer-item"> Electricité en général</span> (devis, installations électriques, réhabilitation et dépannage), du secteur des <span class="service-offer-item"> Energies Renouvelables </span> (étude, fourniture, installation et maintenance des systèmes d’électrifications par énergie solaire et éolienne), de l’<span class="service-offer-item"> Hydraulique</span> (Système d’adduction d’eau, d’irrigation, d’abreuvage par les pompes solaires)  et des <span class="service-offer-item"> Dépannages Divers</span> à travers le Cameroun et l’Afrique.
                        </p>
                    </div>
                </div> <br><br><br>
            </div>
        </div>
        <div>
            <br><br><br>
            <ul class="galerie">
                <li class="col-sm-5  service-item text-center">
                    <header>
                        <h1 class="service-item-title text-left">Installation des panneaux solaires</h1>
                    </header>
                    <a href="#">
                        <img title="Cliquez dessus pour voir plus de détails" data-toggle="tooltip" class="img-responsive service-item-img center-block" src=img/service/download.jpg alt="">
                    </a>
                    <header>
                        <h6 class="service-item-title2 text-info text-left">Installation des panneaux solaires</h6>
                    </header>
                    <p class="service-item-desc2">
                        Adoptez pour une vie facile, une vie autonome et une vie indépendante avec votre énergie 100% solaire et 100% naturelle (sans facture ni coupure)
                    </p>
<!--                    <footer class="col-sm-12 footer-bloc">
                        <div class="col-sm-12 footer-line">AMADOU</div>
                        <div class="col-sm-12 footer-text">BOnjour</div>
                    </footer>-->
                </li>
                <li class="col-sm-5 service-item">
                    <header>
                        <h3 class="service-item-title text-info text-left">Installation des lampadaires solaires</h3>
                    </header>
                    <a href="#">
                        <img class="img-responsive service-item-img center-block"  src=img/service/lampadaire.png alt="" >
                    </a>
                    <header>
                        <h6 class="service-item-title2 text-info text-left">OBSIC garantie l'éclairage</h6>
                    </header>
                    <p class=service-item-desc2>
                       Eclairez vos ruelles, vos routes, vos maisons (chambre, toilette, cuisine,etc.) avec une énergie illimitée. Restons toujours bio.
                    </p>
<!--                    <footer>
                        <h5 class="text-success">Pied de la page.</h5>
                    </footer>-->
                </li>

                <li class="col-lg-8 col-lg-offset-2">
                    <header>
                        <h3 class="service-item-title text-info text-left">Electricité en Général</h3>
                    </header>
                    <a href="#">
                        <img class="img-responsive service-item-img center-block"  src=img/service/pompe.png alt="">
                    </a>
                    <header>
                        <h6 class="service-item-title2 text-info text-left">Electricité en Général</h6>
                    </header>
                    <p class=service-item-desc2>
                        OBSIC vous fait un devis optimal, l'installation sur mesure, le suivi et le dépannage des vos appareils électrique.
                    </p>
<!--                    <footer>
                        <h5 class="text-success">Pied de la page.</h5>
                    </footer>-->
                </li>


                <li class="col-sm-5 service-item">
                    <header>
                        <h3 class="service-item-title text-info text-left">Mise en place des pompes solaires</h3>
                    </header>
                    <a href="#">
                        <img class="img-responsive service-item-img center-block"  src=img/service/pompe.png alt="">
                    </a>
                    <header>
                        <h6 class="service-item-title2 text-info text-left">Electricité en Général</h6>
                    </header>
                    <p class=service-item-desc2>
                       Adoptez également le forage, pour ne pas ressentir la coupure d'eau. 100% disponible et 100% économique.
                    </p>
<!--                    <footer>
                        <h5 class="text-success">Pied de la page.</h5>
                    </footer>-->
                </li>
                <li class="col-sm-5 service-item">
                    <header>
                        <h3 class="service-item-title text-info text-left">Achetez également vos produits.</h3>
                    </header>
                    <a href="#">
                        <img class="img-responsive service-item-img center-block"  src=img/service/pompe-solaire.jpg alt="">
                    </a>
                    <header>
                        <h6 class="service-item-title2 text-info text-left">Electricité en Général</h6>
                    </header>
                    <p class=service-item-desc2>
                        Faites vos achats sur place et prennez gratuits les orientations. Surtout vos achats à un prix toujours promotionnel.
                    </p>
<!--                    <footer>
                        <h5 class="text-success">Pied de la page.</h5>
                    </footer>-->
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
